{% extends 'base.html' %}

{% block title %}ورود{% endblock %}

{% block content %}
    <div class="container create-form-container">
        <h1>Login</h1>  

        {% if messages %}
            {% for message in messages %}
            <div{% if message.tags %} class="alert alert-danger {{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}
 

        <form class="create-todo-form"  method="POST">
            <div class="input-container">
                <label for="">{{form.username.label}}</label>
                <input class="form-control" type="text" name="username" id="id_username" required>  
                <p class="helper-text">نام کاربری</p>
            </div>
            <div class="input-container">
                <label for="">{{form.password.label}}</label>
                <input class="form-control" type="password" name="password" id="id_password" required>
                <p class="helper-text">گذرواژه</p>
            </div>
            <button class="btn btn-primary" type="submit">ورود</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}

