{% extends 'base.html' %}

{% block title %}فهرست کار ها{% endblock %}

{% block content %}

<div class="list-container">
    {% if todo_list_len == 0 %}
    <div>
        <h3>چیزی اینجا وجود ندارد</h3>
        <a class='add-link' href="{% url 'todoapp:todo_item_create' %}">چیزی اضافه کنید</a>
    </div>
    {% else %}
    <div class="todo-list-container">
        <form method="POST" action="{% url 'todoapp:todo_list' %}" id="todo_list_form">
            <div class="todo-list">
                <ul class="list-group">
                    {% for todoitem in todolist %}
                        <li class="list-group-item todo-item">
                          <div class="todo-item-content">
                            {% if todoitem.checked %}
                          <input class="check-input form-check-input job-done-input" checked type="checkbox" name="checked" value="{{ todoitem.id }}" id="firstCheckbox">
                          <div class="job-done-text job-text">
                            <h6>{{ todoitem.work }}</h6>
                            <p>{{ todoitem.date }}</p>
                          </div>
                          {% else %}
                          <input class="check-input form-check-input me-1" type="checkbox" name="checked" value="{{ todoitem.id }}" id="firstCheckbox">
                          <div class="job-undone-text job-text">
                            <h6>{{ todoitem.work }}</h6>
                            <p>{{ todoitem.date }}</p>
                          </div>
                          {% endif %}
                          </div>
                          <div class="todo-item-action">
                            <a class="btn btn-danger" href="{% url 'todoapp:todo_item_delete' todoitem.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                  </svg>
                            </a>
                        </div>  
                        </li>
                    {% endfor %}
                </ul>
            </div>
                {% csrf_token %}
                <Button class="btn btn-primary" id="print_paper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                      </svg>
                </Button>
                <a style="color: green;text-decoration: none;" href="/create">اضافه کردن</a>
            </form>
    </div>
    {% endif %}
</div>

<script>
    let check_input = document.getElementsByName('checked')
    let form =document.getElementById('todo_list_form')
    let print_btn = document.getElementById('print_paper')
    check_input.forEach(Element=>{
        Element.addEventListener('click',function(){
            form.submit()
        })
    });
    print_btn.addEventListener('click',function(){
        print()
    })

</script>

{% endblock %}
